      <!--Preview image start-->
      <div class="my-xl-7 py-5 d-none d-lg-block">
         <div class="container-fluid">
           <div class="row mb-7 pb-2 text-center justify-content-center gy-4">
             <div class="col-lg-12 col-12">
               <div class="marquee h-auto">
                 <div class="track d-flex gap-4 animate-scroll">
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/Fords.jpg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/IMG_8466.jpg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/Cabellas Blg letters-1.jpg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/Unknown-1.jpeg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/Indianapolis Zoo.jpg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/1.jpg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/Crown Royal.jpg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/Fortune Park Monument-1 (1).jpg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/IMG_4293 (1).JPG" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/HolidayInn Pylon.jpg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/AMC bldg letters-1.jpg" alt="Image" class="img-cover border" /></div>
                 </div>
               </div>
             </div>
             <div class="col-lg-12 col-12">
               <div class="marquee h-auto">
                 <div class="track-2 d-flex gap-4 py-3 animate-scroll-reverse">
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/Indianapolis Zoo.jpg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Channel Letters/FortuneParkNite.jpg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Graphics/2.jpg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/IMG_4293 (1).JPG" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Awnings/Unknown copy-1.jpg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/HolidayInn Pylon.jpg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Interior/Game Show - Interior.jpeg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Custom/Unknown-1.jpeg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/Crown Royal.jpg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/IMG_8466.jpg" alt="Image" class="img-cover border" /></div>
                   <div class="custom-img-box"><img src="./assets/images/Home_Priority/AMC bldg letters-1.jpg" alt="Image" class="img-cover border" /></div>
                 </div>
               </div>
             </div>
           </div>
         </div>
      </div>
      <!--Preview image end-->