<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="A Sign by Design creates custom signs in Indiana including awnings, channel letters, graphics, monuments, pylons, and wayfinding solutions.">

<meta name="keywords" content="Indiana signs, Indiana sign company, awnings, channel letters, custom graphics, interior signs, monument signs, pylons, wayfinding">

<html lang="en" data-bs-theme="dark">
